<div class="">
  <ul class="nav nav-pills d-flex justify-content-center">

    <li class="nav-item">
        <a href="/setting" class="nav-link {% if current_mini_page == 'config' %}active{% endif %}" aria-current="page">Параметры</a>
    </li>
    
    <li class="nav-item">
      <a href="/users" class="nav-link {% if current_mini_page == 'users' %}active{% endif %}" aria-current="page">Пользователи</a>
    </li>

    <li class="nav-item">
      <a href="/branch" class="nav-link {% if current_mini_page == 'branch' %}active{% endif %}" aria-current="page">Филиалы</a>
    </li>

    <li class="nav-item">
      <a href="/china-address" class="nav-link {% if current_mini_page == 'address' %}active{% endif %}" aria-current="page">Адрес</a>
    </li>


    <li class="nav-item">
      <a href="/payment" class="nav-link {% if current_mini_page == 'payment_methods' %}active{% endif %}" aria-current="page">Оплата</a>
    </li>

       <li class="nav-item">
      <a href="/textes" class="nav-link {% if current_mini_page == 'textes' %}active{% endif %}" aria-current="page">Текста</a>
    </li>

  </ul>
</div>