<!-- templates/telegram/telegram.html -->
{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h3 class="mb-4">Телеграм</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Сообщение</th>
                    <th>Статус</th>
                    <th>Создано</th>
                    <th>Ошибка</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
{% endblock %}